@import url('https://fonts.googleapis.com/css2?family=Itim&family=Mitr&display=swap');

* {
  margin: 0;
  font-family: 'Itim', cursive;
  font-family: 'Mitr', sans-serif;
  font-size: 16px;
  padding: 0;
}


.body_index {
  background-color: #CBDDEA;
}

.body_index .card-header {
  padding: 1.5rem 1rem !important
}

.body_index #frmLogin #btnLogin {
  border-radius: 20px !important;
  width: 150px !important;

}

.body_index #Formregister #register {
  border-radius: 20px !important;
  width: 150px !important;

}

.body_index .bg-info {
  background-color: #8af1ff !important;
}

.body_index .bg-info h5.card-title {
  font-size: 2rem !important;
}

.body_index #frmLogin #btnLogin.btn.btn-info {
  color: #000;
  background-color: #8EEEFF !important;
  border-color: #8EEEFF !important;
}

.body_index #frmLogin #btnLogin.btn.btn-info:active {
  color: #000;
  background-color: #39bcd4 !important;
  border-color: #39bcd4 !important;
}

.body_index #frmLogin #btnLogin.btn.btn-info:hover {
  color: #000;
  background-color: #39bcd4 !important;
  border-color: #39bcd4 !important;
}

.body_index #Formregister #register.btn.btn-info {
  color: #000;
  background-color: #8EEEFF !important;
  border-color: #8EEEFF !important;
}

.body_index #Formregister #register.btn.btn-info:active {
  color: #000;
  background-color: #39bcd4 !important;
  border-color: #39bcd4 !important;
}

.body_index #Formregister #register.btn.btn-info:hover {
  color: #000;
  background-color: #39bcd4 !important;
  border-color: #39bcd4 !important;
}

.body_index .card-header:first-child {
  border-radius: calc(2.25rem - 1px) calc(2.25rem - 1px) 0 0 !important;
}

.body_index .card {
  border-radius: 2.25rem !important;
}

@media screen and (max-width:767px) {
  .user-box .user-info {
    display: none
  }

  .authentication-forgot {
    height: auto;
    padding: 2.5rem 1rem
  }
}

@media screen and (max-width:767px) {
  .user-box .user-info {
    display: none
  }

  .authentication-forgot {
    height: auto;
    padding: 2.5rem 1rem
  }
}

.user-box {
  display: flex;
  align-items: center;
  height: 60px;
  border-left: 1px solid #a9a8a8;
  margin-left: 1rem
}

.user-box .dropdown-menu i {
  vertical-align: middle;
  margin-right: 10px
}

.user-info .user-name {
  font-size: 15px;
  font-weight: 500;
  color: #413c3c
}

.user-info .designattion {
  font-size: 13px;
  color: #a9a8a8
}

.dropdown-toggle-nocaret:after {
  display: none
}

.rounded-circle {
  border-radius: 50% !important;
}

.topbar .topbar-divider {
  width: 0;
  border-right: 20px solid #000000;
  height: calc(4.375rem - 2rem);
  margin: auto 10rem;
}

.ms-auto {
  margin-left: auto !important;
}

.ps-3 {
  padding-left: 1rem !important;
}

.nav_sidebar .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #64c2d2 !important;
}

body .content-wrapper {
  background-color: #E4ECF1 !important;
}

.navbar-light {
  background-color: #57c5d5 !important;
}

.select2-container .select2-selection--single {
  height: 42px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-top: 8px !important;
  text-align: center !important;
}

.nav-primary nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border: 3px solid #007bff !important;
  border-color: #007bff #007fff #fff !important;
}

.dropdown-item:focus, .dropdown-item:hover {

  background-color: #c2e1ff !important;
}